.App {
  text-align: center;
}

/* .Middle{
  padding: auto;
  margin:auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
} */
.Middle{
   width: 75%;
  	height: auto;
  	display: flex;
  	margin: 50px auto;
  	padding: 0px 40px 20px 40px;
  	flex-direction: column;
  	overflow: hidden;
}
.Header{
  text-align:center;
}
table {
  border-collapse: collapse;
  margin-left:10px;
  margin-right:auto;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
}


th, td {
  border: 1px solid black;
  padding: 8px;
}

.RowOp{
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.TableDesign th
{  
    font-weight: bold;
}

.boxStyle{
  width:700;
  border-radius: "16px";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nextToNext{
  display: flex;
  justify-content: space-between;
}
